### **安装包**

In [1]:
# !pip install transformers
# !pip install datasets
# !pip install accelerate -U
# !pip install transformers[torch]
# !pip install sentencepiece

### **导入需要的包**

In [2]:
import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer
from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer
from datasets import load_dataset
from transformers import DataCollatorForSeq2Seq
from transformers import T5Tokenizer

### **加载数据**

In [3]:
import json

# 指向数据集文件的路径
dataset_path = "/content/drive/MyDrive/CSpider"

# 读取训练数据
with open(f"{dataset_path}/train.json", "r", encoding="utf-8") as train_file:
    train_data = json.load(train_file)

# 读取验证数据
with open(f"{dataset_path}/dev.json", "r", encoding="utf-8") as validation_file:
    validation_data = json.load(validation_file)

# 现在你可以使用 train_data 和 validation_data 进行进一步的处理，以适应你的项目需求。

### **数据集处理**

In [4]:
# 初始化 T5 tokenizer
tokenizer = T5Tokenizer.from_pretrained("t5-small")

# 将数据转换为适合 T5 模型的格式
formatted_data = []
labels = []  # 存储目标 SQL 查询的列表
for example in train_data:
    question = example["question"]
    query = " ".join(example["query_toks"])
    formatted_data.append(f"question: {question} context: {query}")
    # 添加目标 SQL 查询到 labels 列表
    # label.append(example["sql"])
    sql_query = example["sql"]
    # 将 SQL 查询字典转换为字符串
    sql_query_str = ' '.join(map(str, sql_query))
    labels.append(sql_query_str)


print(train_data[:10])
print(formatted_data[:10])
print(labels[:10])  # 打印前10个 SQL 查询作为 labels

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thouroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

[{'db_id': 'department_management', 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'head', 'where', 'age', '>', 'value'], 'question_toks': ['部', '门', '中', '有', '多', '少', '人', '年', '龄', '大', '于', '5', '6', '岁', '？'], 'query_toks': ['select', 'count', '(', '*', ')', 'from', 'head', 'where', 'age', '>', '56'], 'question': '部门中有多少人年龄大于56岁？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 1]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]], 'having': [], 'select': [False, [[3, [0, [0, 0, False], None]]]]}, 'query': 'SELECT count(*) FROM head WHERE age  >  56'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'name', ',', 'born_state', ',', 'age', 'from', 'head', 'order', 'by', 'age'], 'question_toks': ['列', '出', '按', '年', '龄', '排', '序', '的', '部', '门', '负', '责', '人', '的', '姓', '名', '、', '出', '生', '地', '和', '年', '龄', '。'], 'query_toks': ['select', 'name', ',', 'born_state', ',', 'age', 'from', 'head', 'order', 'by', 'age'], 'question': '列出按年龄排序的部门负责人的姓名、出生地和年龄。', 'sql': {'orderBy': ['asc', [[0, [0, 10, False], None]]], 'from': {'table_units': [['table_unit', 1]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [], 'having': [], 'select': [False, [[0, [0, [0, 8, False], None]], [0, [0, [0, 9, False], None]], [0, [0, [0, 10, False], None]]]]}, 'query': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'creation', ',', 'name', ',', 'budget_in_billions', 'from', 'department'], 'question_toks': ['列', '出', '每', '个', '部', '门', '的', '创', '建', '年', '份', '、', '名', '称', '和', '预', '算', '。'], 'query_toks': ['select', 'creation', ',', 'name', ',', 'budget_in_billions', 'from', 'department'], 'question': '列出每个部门的创建年份、名称和预算。', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 0]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [], 'having': [], 'select': [False, [[0, [0, [0, 3, False], None]], [0, [0, [0, 2, False], None]], [0, [0, [0, 5, False], None]]]]}, 'query': 'SELECT creation ,  name ,  budget_in_billions FROM department'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'max', '(', 'budget_in_billions', ')', ',', 'min', '(', 'budget_in_billions', ')', 'from', 'department'], 'question_toks': ['部', '门', '的', '最', '高', '预', '算', '和', '最', '低', '预', '算', '是', '多', '少', '？'], 'query_toks': ['select', 'max', '(', 'budget_in_billions', ')', ',', 'min', '(', 'budget_in_billions', ')', 'from', 'department'], 'question': '部门的最高预算和最低预算是多少？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 0]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [], 'having': [], 'select': [False, [[1, [0, [0, 5, False], None]], [2, [0, [0, 5, False], None]]]]}, 'query': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'avg', '(', 'num_employees', ')', 'from', 'department', 'where', 'ranking', 'between', 'value', 'and', 'value'], 'question_toks': ['排', '名', '在', '1', '0', '到', '1', '5', '之', '间', '的', '部', '门', '的', '平', '均', '雇', '员', '人', '数', '是', '多', '少', '？'], 'query_toks': ['select', 'avg', '(', 'num_employees', ')', 'from', 'department', 'where', 'ranking', 'between', '10', 'and', '15'], 'question': '排名在10到15之间的部门的平均雇员人数是多少？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 0]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [[False, 1, [0, [0, 4, False], None], 10.0, 15.0]], 'having': [], 'select': [False, [[5, [0, [0, 6, False], None]]]]}, 'query': 'SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'name', 'from', 'head', 'where', 'born_state', '!', '=', 'value'], 'question_toks': ['出', '生', '在', '“', '浙', '江', '”', '州', '以', '外', '的', '人', '的', '名', '字', '是', '什', '么', '？'], 'query_toks': ['select', 'name', 'from', 'head', 'where', 'born_state', '!=', '"浙江"'], 'question': '出生在“浙江”州以外的人的名字是什么？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 1]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [[False, 7, [0, [0, 9, False], None], '"浙江"', None]], 'having': [], 'select': [False, [[0, [0, [0, 8, False], None]]]]}, 'query': "SELECT name FROM head WHERE born_state != '浙江'"}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'distinct', 't1', '.', 'creation', 'from', 'department', 'as', 't1', 'join', 'management', 'as', 't2', 'on', 't1', '.', 'department_id', '=', 't2', '.', 'department_id', 'join', 'head', 'as', 't3', 'on', 't2', '.', 'head_id', '=', 't3', '.', 'head_id', 'where', 't3', '.', 'born_state', '=', 'value'], 'question_toks': ['出', '生', '于', '“', '河', '南', '”', '州', '的', '秘', '书', '所', '管', '理', '的', '各', '部', '门', '的', '不', '同', '创', '建', '年', '份', '是', '什', '么', '？'], 'query_toks': ['select', 'distinct', 't1.creation', 'from', 'department', 'as', 't1', 'join', 'management', 'as', 't2', 'on', 't1.department_id', '=', 't2.department_id', 'join', 'head', 'as', 't3', 'on', 't2.head_id', '=', 't3.head_id', 'where', 't3.born_state', '=', '"河南"'], 'question': '出生于“河南”州的秘书所管理的各部门的不同创建年份是什么？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 0], ['table_unit', 2], ['table_unit', 1]], 'conds': [[False, 2, [0, [0, 1, False], None], [0, 11, False], None], 'and', [False, 2, [0, [0, 12, False], None], [0, 7, False], None]]}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [[False, 2, [0, [0, 9, False], None], '"河南"', None]], 'having': [], 'select': [True, [[0, [0, [0, 3, False], None]]]]}, 'query': "SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T3.born_state  =  '河南'"}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'born_state', 'from', 'head', 'group', 'by', 'born_state', 'having', 'count', '(', '*', ')', '>', '=', 'value'], 'question_toks': ['至', '少', '有', '3', '个', '负', '责', '人', '出', '生', '的', '州', '的', '名', '字', '是', '什', '么', '？'], 'query_toks': ['select', 'born_state', 'from', 'head', 'group', 'by', 'born_state', 'having', 'count', '(', '*', ')', '>=', '3'], 'question': '至少有3个负责人出生的州的名字是什么？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 1]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [[0, 9, False]], 'limit': None, 'intersect': None, 'where': [], 'having': [[False, 5, [0, [3, 0, False], None], 3.0, None]], 'select': [False, [[0, [0, [0, 9, False], None]]]]}, 'query': 'SELECT born_state FROM head GROUP BY born_state HAVING count(*)  >=  3'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 'creation', 'from', 'department', 'group', 'by', 'creation', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value'], 'question_toks': ['大', '多', '数', '部', '门', '在', '哪', '一', '年', '成', '立', '？'], 'query_toks': ['select', 'creation', 'from', 'department', 'group', 'by', 'creation', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', '1'], 'question': '大多数部门在哪一年成立？', 'sql': {'orderBy': ['desc', [[0, [3, 0, False], None]]], 'from': {'table_units': [['table_unit', 0]], 'conds': []}, 'union': None, 'except': None, 'groupBy': [[0, 3, False]], 'limit': 1, 'intersect': None, 'where': [], 'having': [], 'select': [False, [[0, [0, [0, 3, False], None]]]]}, 'query': 'SELECT creation FROM department GROUP BY creation ORDER BY count(*) DESC LIMIT 1'}, {'db_id': 'department_management', 'query_toks_no_value': ['select', 't1', '.', 'name', ',', 't1', '.', 'num_employees', 'from', 'department', 'as', 't1', 'join', 'management', 'as', 't2', 'on', 't1', '.', 'department_id', '=', 't2', '.', 'department_id', 'where', 't2', '.', 'temporary_acting', '=', 'value'], 'question_toks': ['显', '示', '由', '临', '时', '代', '理', '值', '为', '“', '是', '”', '的', '负', '责', '人', '所', '管', '理', '的', '部', '门', '的', '员', '工', '姓', '名', '和', '数', '目', '？'], 'query_toks': ['select', 't1.name', ',', 't1.num_employees', 'from', 'department', 'as', 't1', 'join', 'management', 'as', 't2', 'on', 't1.department_id', '=', 't2.department_id', 'where', 't2.temporary_acting', '=', '"是"'], 'question': '显示由临时代理值为“是”的负责人所管理的部门的员工姓名和数目？', 'sql': {'orderBy': [], 'from': {'table_units': [['table_unit', 0], ['table_unit', 2]], 'conds': [[False, 2, [0, [0, 1, False], None], [0, 11, False], None]]}, 'union': None, 'except': None, 'groupBy': [], 'limit': None, 'intersect': None, 'where': [[False, 2, [0, [0, 13, False], None], '"是"', None]], 'having': [], 'select': [False, [[0, [0, [0, 2, False], None]], [0, [0, [0, 6, False], None]]]]}, 'query': "SELECT T1.name ,  T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id WHERE T2.temporary_acting  =  '是'"}]
['question: 部门中有多少人年龄大于56岁？ context: select count ( * ) from head where age > 56', 'question: 列出按年龄排序的部门负责人的姓名、出生地和年龄。 context: select name , born_state , age from head order by age', 'question: 列出每个部门的创建年份、名称和预算。 context: select creation , name , budget_in_billions from department', 'question: 部门的最高预算和最低预算是多少？ context: select max ( budget_in_billions ) , min ( budget_in_billions ) from department', 'question: 排名在10到15之间的部门的平均雇员人数是多少？ context: select avg ( num_employees ) from department where ranking between 10 and 15', 'question: 出生在“浙江”州以外的人的名字是什么？ context: select name from head where born_state != "浙江"', 'question: 出生于“河南”州的秘书所管理的各部门的不同创建年份是什么？ context: select distinct t1.creation from department as t1 join management as t2 on t1.department_id = t2.department_id join head as t3 on t2.head_id = t3.head_id where t3.born_state = "河南"', 'question: 至少有3个负责人出生的州的名字是什么？ context: select born_state from head group by born_state having count ( * ) >= 3', 'question: 大多数部门在哪一年成立？ context: select creation from department group by creation order by count ( * ) desc limit 1', 'question: 显示由临时代理值为“是”的负责人所管理的部门的员工姓名和数目？ context: select t1.name , t1.num_employees from department as t1 join management as t2 on t1.department_id = t2.department_id where t2.temporary_acting = "是"']
['orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select', 'orderBy from union except groupBy limit intersect where having select']

### **编码数据**

In [5]:
# 编码数据
input_ids = tokenizer(formatted_data, return_tensors="pt", padding=True, truncation=True)

print(input_ids)

# 编码 SQL 查询
# labels = tokenizer(label, return_tensors="pt", padding=True, truncation=True)
labels = tokenizer(labels, return_tensors="pt", padding=True, truncation=True)

print(labels[:10])

{'input_ids': tensor([[822,  10,   3,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        ...,
        [822,  10, 105,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        [822,  10, 105,  ...,   0,   0,   0]]), 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])}
{'input_ids': tensor([[  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1],
        [  455,   279,    63,    45,  7021,  3578,   563,   279,    63,  2006,
         27806,   213,   578,  1738,     1]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])}

In [6]:
# 确保数据包含 input_ids 和 attention_mask 字段
train_dataset = {
    "input_ids": input_ids["input_ids"],
    "attention_mask": input_ids["attention_mask"],
    "labels": labels,  # T5 模型要求预测标签与输入相同
}


for i, (key, value) in enumerate(train_dataset.items()):
    if i >= 10:
        break
    print(f"{key}: {value}")
# train_dataset 现在包含了适合微调 T5 模型的数据

input_ids: tensor([[822,  10,   3,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        ...,
        [822,  10, 105,  ...,   0,   0,   0],
        [822,  10,   3,  ...,   0,   0,   0],
        [822,  10, 105,  ...,   0,   0,   0]])
attention_mask: tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])
labels: {'input_ids': tensor([[ 455,  279,   63,  ...,  578, 1738,    1],
        [ 455,  279,   63,  ...,  578, 1738,    1],
        [ 455,  279,   63,  ...,  578, 1738,    1],
        ...,
        [ 455,  279,   63,  ...,  578, 1738,    1],
        [ 455,  279,   63,  ...,  578, 1738,    1],
        [ 455,  279,   63,  ...,  578, 1738,    1]]), 'attention_mask': tensor([[1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1],
        ...,
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1]])}

### **加载模型**

In [7]:
# 加载微调所需的模型和tokenizer
model_name = "tscholak/2jrayxos"  # 替换为你的预训练模型的名称
tokenizer_name = "tscholak/2jrayxos"  # 替换为你的预训练模型的tokenizer名称
tokenizer = AutoTokenizer.from_pretrained(tokenizer_name)
model = AutoModelForSeq2SeqLM.from_pretrained(model_name)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

### **数据编码**

In [8]:
from torch.utils.data import TensorDataset
# 准备微调数据
formatted_data = []

for example in train_data:
    inputs = example["question"]
    targets = " ".join(example["sql"])  # 将SQL查询字符串列表合并为一个字符串
    # input_encodings = tokenizer("question: " + inputs, truncation=True, padding="max_length", return_tensors="pt")
    input_encodings = tokenizer("question: " + inputs, targets, truncation=True, padding="max_length", max_length=64, return_tensors="pt")
    target_encodings = tokenizer(targets, truncation=True, padding="max_length", return_tensors="pt")

    formatted_data.append({
        "input_ids": input_encodings.input_ids[0],
        "attention_mask": input_encodings.attention_mask[0],
        "labels": target_encodings.input_ids[0],
    })

# 创建数据集
train_dataset = formatted_data

### **定义数据收集器**

In [9]:
# 定义数据收集器
data_collator = DataCollatorForSeq2Seq(
    tokenizer,
    model=model,
)

### **定义微调参数**

In [10]:
# 定义微调参数
# training_args = Seq2SeqTrainingArguments(
#     output_dir="./cspider_finetuned_model",
#     per_device_train_batch_size=8,
#     num_train_epochs=3,
#     evaluation_strategy="steps",
#     save_steps=1000,
#     eval_steps=1000,
#     logging_dir="./logs",
#     logging_steps=10,
#     save_total_limit=2,
# )

training_args = Seq2SeqTrainingArguments(
    output_dir="./cspider_finetuned_model",
    per_device_train_batch_size=2,
    num_train_epochs=3,
    evaluation_strategy="steps",
    save_steps=1000,
    eval_steps=1000,
    logging_dir="./logs",
    logging_steps=10,
    save_total_limit=2,
    fp16=True  # 启用混合精度训练
)

### **初始化微调器**

In [11]:
# 初始化微调器
# trainer = Seq2SeqTrainer(
#     model=model,
#     args=training_args,
#     data_collator=data_collator,
#     train_dataset=train_data,
# )
trainer = Seq2SeqTrainer(
    model=model,
    args=training_args,
    data_collator=data_collator,
    train_dataset=train_dataset,
    tokenizer=tokenizer
)

In [12]:
# print(train_dataset)
print(len(train_data))

8659

In [ ]:
# 开始微调
trainer.train()

You're using a T5TokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

In [ ]:

# 保存微调后的模型
trainer.save_model("./cspider_finetuned_model")